<div class="text-center">
    <h1 class="display-4">Центральный госпиталь Конохи</h1>
    <p>Здесь работают лучшие специалисты по каждому профилю во всем мире шиноби.</p>
    <p>Возглавляет нас легендарная Цунаде Сенджу, что прямо говорит о репутации нашего госпиталя.</p>
    <p>Запишитесь к нам на прием и мы вылечим вас от всех ваших недугов.</p>
</div>