<dialog id="DeletingInfoModal" onkeydown="userHandler.MoveRectDelete()">
    
    <div class="modalTitle">
        Вы точно хотите отменить данную запись?
    </div>

    <div>

        <div class="modalItem">
            <div style="display:none" id="sessionIdDeleting"></div>
        </div>

        <div class="modalItem">
            <div style="display:none" id="userIdDeleting"></div>
        </div>

        <div class="modalItem">
            <label class="LabelForInput">Имя врача:&nbsp</label>
            <div id="doctorNameDeleting" type="text"></div>
        </div>

        <div class="modalItem">
            <label class="LabelForInput">Специальность:&nbsp</label>
            <div id="doctorProfessionDeleting" type="text"></div>
        </div>

        <div class="modalItem">
            <label class="LabelForInput">Дата сеанса:</label>
            <div id="DateOfSessionDeleting" type="date"></div>
        </div>

        <div class="modalItem">
            <label class="LabelForInput">Время сеанса:</label>
            <div id="TimeOfBeginDeleting" type="time"></div>
        </div>

    </div>
    <div id="DeletingInfoModalError" class="errorMessage"></div>
    <div class="modalFooter">
        <button type="button" onclick="userHandler.CloseDeletingSubmitModal()" class="modalButton" id="closeChangeScheduleModal">Закрыть</button>
        <button type="submit" onclick="userHandler.UnreserveSession()" id="submitChangeScheduleModal" class="submitButtonModal">Отправить данные</button>
    </div>

</dialog>